.fondoRojo{
    background-image: url('./assets/Fondo\ homepage_Mesa\ de\ trabajo\ 1.jpg');
    padding-top: 40%;
    padding-bottom: 10%;
    display: flex;
    width: 100%;
    background-size: cover;
}

.logo {
    width: 120px;
    display: flex;
    justify-content: right;

}

.fondoRojo1{
    background: url('./assets/Fondo\ homepage_Mesa\ de\ trabajo\ 1.jpg');
    display: flex;
    padding:20%;
    background-size: cover;
}

body {
    background-color: #e52c2b
  }

h1, h2 {
    margin-left: 20px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 26px;
}

h3 {
  margin-left: 20px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 20px;
}

.inicio{
    font-size: 100%;
    font-style: normal;
    margin-left: 10px;
    color: white;
    font-family: 'Lato', sans-serif;
}
.actividades{
    background-color: white;
    padding: 20px;

}

.hamburger{
    margin-left: 20px;
    margin-top: 10px;
}


.link{
    border: rgb(102, 71, 255) 1px solid;
    text-decoration: none;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 120%;
    text-align: center;

}
.palabra{
    text-decoration: none !important;
    color:  black;

}

.circulo {
    border: orange 1px solid;
    inline-size: 50%;
}

/* .circulo1{
    border: rgb(0, 255, 149) 1px solid;
    display: flex;
    justify-content: center;
    flex-direction: row;
} */

.f1 {
    border: rgb(0, 255, 149) 1px solid;
    width: 100%;
    display:flex;
    justify-content: center;
    flex-direction: row;

}

.formulario{
    margin-bottom : 10px;
    display: flex;
    justify-content: center;
}


/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color:#e52c2b; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color:white;
  display: block;
  transition: 0.3s;
  font-family: 'Lato', sans-serif;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: white;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
 
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


@media screen and (min-width: 1024px) {
  .logo {width: 250px;
}
}



.float-right {
    float: right !important; }


/*Modal*/

  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  .flip-card {
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin-bottom: 30px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-position: center;
    background-size: cover;
    color: black;
    display: flex;
    align-items: flex-end;
  }

  .flip-card-front,
  .flip-card-front h3 {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .flip-card-front h3 {
    background-color: rgba(255,141, 3, .95);
    width: 100%;
    margin: 0;
    padding: 8.5% 20px;
    text-align: left;
    color: white;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgba(255,141, 3, 1);;
    color: white;
    transform: rotateY(180deg);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .card-pie {
    background-image: url("https://7diasdesabor.com/archivos/recetas/1493827189-4906kkx4og.png");
  }

  .card-cheesecake {
    background-image: url("https://cdn.apartmenttherapy.info/image/upload/f_jpg,q_auto:eco,c_fill,g_auto,w_1500,ar_4:3/k%2Farchive%2F7b084eaf9d7d564dd2667094c3dd1260a5e4d646");
  }

  .card-chocolateCake {
    background-image: url("https://beyondfrosting.com/wp-content/uploads/2019/01/Chocolate-Cake-Recipe-017-260x195.jpg");
  }

  .card-tresLeches {
    background-image: url("https://www.goya.com/media/3715/three-milk-cake-postre-de-tres-leches.jpg?quality=80");
  }

  .card-strawberryCake {
    background-image: url("https://www.nacion.com/resizer/viFFdXb66UrjXCDHnebZmS0daTE=/600x0/center/middle/filters:quality(100)/arc-anglerfish-arc2-prod-gruponacion.s3.amazonaws.com/public/L6FDCK7PAJGEZAU7APRKDTLYUM.jpg");
  }

  .card-crepas {
    background-image: url("https://receta.space/wp-content/uploads/2019/07/crepas-1024x597.png");
  }

  @media only screen and (min-width: 1024px) {
    .flip-card {
      height: 300px;
    }
    }